@import url('https://fonts.googleapis.com/css?family=Lemonada:400,700|Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/******************ERROR PAGE 3******************/
.bg-error-img{
    background: url("https://uptangkutan-bandung.id/img/bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-alignment{
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.error-page .main-heading{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin: 250px 0 0;
}
.error-page .sub-heading{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.error-page .text-error{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 357px;
    margin-bottom: 15px;
}

.error-page .home-btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    padding: 9px 27px 9px 27px;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}
.error-page .home-btn:hover{
    background-color: white;
    border: 2px solid #ffffff;
    color: #000;
}
.error-page a{
    text-decoration: none;
}

@media screen and (max-width:767px){
    .error-page .main-heading {
        font-size: 60px;
    }
    .error-page .sub-heading {
        font-size: 42px;
    }
}